<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarot Card Picker</title>
    <link rel="stylesheet" href="/static/drawCard.css">
</head>
<body>    
    <div class="selected-card-container"></div>
    
    <div class="submit-container">
        <form action="{{ url_for('question.result') }}" method="POST">
            <input type="hidden" name="cards" id="cards-input">
            <button id="submit-button" type="submit">선택 완료(3장)</button>
        </form>
    </div>

    <div class="card-container"></div>
    <script src="/static/drawCard.js"></script>
</body>
</html>
