<!-- question_info.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세부정보 입력</title>
    <link rel="stylesheet" href="/static/question_info.css">
</head>
<body>
    <form action="{{ url_for('question.draw_card') }}" method="POST">
        <label for="detail">질문에 대한 세부 정보</label>
        <input type="text" name="detail" id="detail" placeholder="가능한 자세히" required>
        <button type="submit">제출</button>
    </form>
</body>
</html>
