<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문 입력</title>
    <link rel="stylesheet" href="/static/question_categori.css">
</head>
<body>
    <form action="/question/info" method="post" target="_self">
        <label for="subject">질문의 주제</label>
        <select name="subject" id="subject" required>
            <option value="" disabled selected>주제를 선택하세요</option>
            <option value="연애">연애</option>
            <option value="경제">경제</option>
            <option value="진로">미래/진로</option>
            <option value="학업">학업</option>
            <option value="사업">사업</option>
            <option value="가정">가정</option>
            <option value="건강">건강</option>
        </select>
        
        <label for="question">질문</label>
        <input type="text" name="question" id="question" placeholder="질문을 입력하세요" required>
        
        <button type="submit">제출</button>
    </form>
</body>
</html>
